body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7fa;
  color: #333;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.smart-revolution {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  max-width: 850px;
  border: 2px solid #A16A78;
  border-radius: 15px;
  display: flex;
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}


h1 {
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 30px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2rem;
}

.promo-banner {
  background-color: #362664;
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;  
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.limited-time, .free-period{
  font-size: 1rem;
}
.limited-time, .free-period, .commission {
  padding: 10px ;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.dashed-border{
  border: 1.5px dashed white;
  border-radius: 10px;
  display: flex;
  gap:10px;
  margin: 10px 5px;
}
.free-period {
  margin: 0;
}

.commission {
  background-color: #f9bb00e0;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  margin: -10.99px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right:-6px;
  font-size: 2.8rem;
}
.commission span{
  font-size: 1rem;
}

.start-button {
  margin-top: 30px;
  background-color: #362664;
  color: white;
  border: none;
  padding: 8px 30px;
  width: 100%;
  font-size: 1em;
  border-radius: 10px;
  /* cursor: pointer;
  transition: background-color 0.3s ease; */
}
/* 
.start-button:hover {
  background-color: #27ae60;
} */

.pricing-container {
  max-width: 1190px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.card-wrapper {
  display: flex;
  transition: transform 1.5s ease;
  will-change: transform;
}

.pricing-card {
  flex: 0 0 calc(33.333% - 40px);
  margin: 0 20px;
  background-color: white;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}





.header-1 {
  color: white;
  background-color: #4D4D4D;
  padding: 30px;
  text-align: center;
}


.pricing-card h3 {
  margin: 0;
  font-size: 1.5em;
}




h3 span {
  display: block;
  font-size: 0.8em;
  font-weight: 300;
  margin-top: 5px;
}

.price {
  font-size: 2em;
  font-weight: bold;
  margin: 20px 0 10px;
}

.price span {
  font-size: 0.5em;
  font-weight: 300;
}

.features {
  list-style-type: none;
  padding: 20px;
  flex-grow: 1;
  font-size: 0.8em;
  font-weight: 550;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.features li {
  margin-bottom: 20px;
  padding-left: 25px;
  display: flex;
  position: relative;
  text-align: left; /* Align text to the left */
}

.features li::after {
  content: '✓'; /* Default symbol for included features */
  color: #2ecc71;
  margin-left: 10px; /* Space between text and symbol */
  font-size: 1.2em; /* Uniform size for symbols */
}

.features li.not-included::after {
  content: '✗'; /* Symbol for not included features */
  color: #e74c3c;
}


.choose-plan {
  background-color: #4D4D4D;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 15px 0;
  font-size: 1em;
  cursor: pointer;
}

.choose-plan:hover {
  background-color: #5f5f5f;
}
.header-1 {
  background: #4D4D4D; /* Default background color */
  color: white; /* Ensure good contrast */
}

.choose-plan {
  background: #4D4D4D; /* Default background color */
  color: white; /* Ensure good contrast */
}

/* Active states */
.header-1, .choose-plan {
    cursor: pointer;
}

/* Styles applied when active class is added */
.pricing-card .header-1.active {
    background: linear-gradient(34deg, rgba(153,24,62,0.905) 14%, rgba(66,33,90,0.995) 97%);
}

.pricing-card .choose-plan.active {
    background: linear-gradient(34deg, rgba(153,24,62,0.905) 14%, rgba(66,33,90,0.995) 97%);
}

/* Navigation Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  border: none;
  font-size: 30px;
  font-weight: 550;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  z-index: 10;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow:hover {
  color: gray;
}

.left-arrow {
  left: 0; 
}

.right-arrow {
  right: 0; 
}

.dots-container {
  text-align: center;
  margin-bottom: 3  0px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #717171;
}

@media (max-width: 1024px) {
  .pricing-card {
      flex: 0 0 calc(50% - 20px);
  }
}

@media (max-width: 768px) {
  /* .smart-revolution{
    display: flex;
    flex-direction: column;
  } */
   h1{
    font-size: 2rem;
    font-weight: 550;
   }
   h2{
    font-size: 1.4rem;
    font-weight: 550;
   }
   .dashed-border{
    display: flex;
    flex-direction: column;
   }
   .start-button{
    font-size: 0.9rem;
   }
  .pricing-card {
      flex: 0 0 calc(100% - 20px);  
  }

  .promo-banner {
      flex-direction: column;
      align-items: center;
  }

  .limited-time, .free-period, .commission {
      
      margin: 10px 0;
      text-align: center;
  }

  .start-button {
      width: 100%;
  }
  .features li{
    font-size:0.86em;
  }
}